if [ -e .envrc-override ]; then
    # This env file will trump lorri, if present.
    source .envrc-override
elif type lorri &>/dev/null; then
    eval "$(lorri direnv)"

    # Source a user-specific config in ./.envrc-local
    if [ -e .envrc-local ]; then
        source .envrc-local
    fi
else
    # Fall back to using direnv's builtin nix support
    # to prevent bootstrapping problems.
    # It's definitely better to use lorri, because direnv won't
    # be fast like this.
    use nix

    # Source a user-specific config in ./.envrc-local
    if [ -e .envrc-local ]; then
        source .envrc-local
    fi
fi
