if [ -e .envrc-override ]; then
    # This env file will trump nix-direnv, if present.
    source_env .envrc-override
else
    # Requires nix-direnv
    use flake
fi

# Source a user-specific config in .envrc-local
source_env_if_exists .envrc-local
