if [ -e .envrc-override ]; then
    # This env file will trump lorri, if present.
    source_env .envrc-override
elif type lorri &>/dev/null; then
    eval "$(lorri direnv)"
else
    # Fall back to using direnv's builtin nix support
    # to prevent bootstrapping problems.
    # It's definitely better to use lorri, because direnv won't
    # be fast like this.
    use nix
fi

# Source a user-specific config in ./.envrc-local
source_env_if_exists .envrc-local
