site_name: cardano-coin-selection
site_description: Coin selection algorithms for the Cardano blockchain
site_url: https://cardano-foundation.github.io/cardano-wallet/coin-selection/
repo_url: https://github.com/cardano-foundation/cardano-wallet
repo_name: cardano-foundation/cardano-wallet

theme:
  name: material
  palette:
    scheme: slate
    primary: blue
    accent: light blue
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - toc.follow

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Tutorial: tutorial.md
  - Concepts:
      - UTxO Model: concepts/utxo-model.md
      - Selection Strategies: concepts/selection-strategies.md
      - Change Generation: concepts/change-generation.md
      - Minting & Burning: concepts/minting-burning.md
      - Collateral: concepts/collateral.md
  - Mathematics:
      - Partitioning: math/partitioning.md
      - Equipartition: math/equipartition.md
      - Partial Orders: math/partial-orders.md
      - Coalescing: math/coalescing.md
  - Data Structures:
      - UTxO Index: data-structures/utxo-index.md
      - UTxO Selection: data-structures/utxo-selection.md
  - References: references.md

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - stylesheets/extra.css

plugins:
  - search
