if [ -e .envrc-local ]; then
   # Source a user-specific config in .envrc-local
   # This file can contain your customizations of env.rb.
   source .envrc-local
elif type lorri &>/dev/null; then
    eval "$(lorri direnv)"
else
    # Fall back to using direnv's builtin nix support
    # to prevent bootstrapping problems.
    # It's definitely better to use lorri, because direnv won't
    # be fast like this.
    use nix
fi
