if [ -e .envrc-override ]; then
    # This env file will trump nix-direnv, if present.
    source_env .envrc-override
else
    use flake ../..#e2e
fi

# Source a user-specific config in .envrc-local at the project
# top-level.
# This file can contain your customizations of `env.rb`.
source_env_if_exists ../../.envrc-local
