# data for tests
/bins/
/state/logs/
/state/node_db/
/state/wallet_db/

# secrets
/fixtures/fixture_wallets.json

# local environment variables
/.envrc-local

# rspec reports and failure tracking
/spec/reports/
.rspec_status

# temporary files
/.bundle/
/tmp/
/cardano-wallet-*/
/binaryDist/
*binary-dist*
*.prv

# rake
/.rakeTasks/
