# Pin line endings for genesis files.
#
# Genesis files are
#   * human-readable text data
#   * but they also have a hash.
#
# `cardano-node` is sensitive to the line endings in the genesis file.
#
/state/configs/*/*.json text eol=lf
