name: Docker

on:
  workflow_dispatch:

jobs:
  build:
    name: "Build Docker Image"
    runs-on: [self-hosted, linux, x86_64, cardano-wallet]
    outputs:
      image-tag: ${{ steps.build.outputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build and load image
        id: build
        run: |
          mkdir -p artifacts
          nix build -L .#dockerTestImage -o artifacts/docker-image.tgz
          output=$(docker load < artifacts/docker-image.tgz)
          tag=$(echo "$output" | sed -n 's/Loaded image: cardanofoundation\/cardano-wallet:\(.*\)/\1/p')
          echo "tag=$tag" >> "$GITHUB_OUTPUT"
          echo "Docker image tag: $tag"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: artifacts/docker-image.tgz

  boot-sync:
    name: "${{ matrix.name }}"
    runs-on: [self-hosted, linux, x86_64, cardano-wallet]
    needs: build
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Docker Mainnet Boot Sync"
            dir: run/mainnet/docker
            timeout: 600
            status: syncing

          - name: "Docker Preview Boot Sync"
            dir: run/preview/docker
            timeout: 600
            status: syncing

    timeout-minutes: 30
    env:
      WALLET_TAG: ${{ needs.build.outputs.image-tag }}
      USE_LOCAL_IMAGE: "true"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run boot sync
        working-directory: ${{ matrix.dir }}
        env:
          SUCCESS_STATUS: ${{ matrix.status }}
          COMPOSE_PROJECT_NAME: gha-${{ github.run_id }}-${{ strategy.job-index }}
        run: |
          rm -rf databases
          ./run.sh sync ${{ matrix.timeout }}
