name: Nix Check

on:
  workflow_dispatch:

jobs:
  check-nix:
    name: "Check Nix"
    runs-on: [self-hosted, linux, x86_64, cardano-wallet]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check nix version
        run: nix --version
