# On branch push, download the windows testing bundle build and run it.

name: windows

on:
  push:
    branches:
      - master
      - bors/staging
      - bors/trying
      - 'release/v*'
  pull_request:

jobs:
  setup:
    runs-on: windows-2016
    name: Download testing bundle
    steps:
      - name: 'Wait for Hydra build'
        uses: rvl/hydra-build-products-action@master
        id: hydra
        with:
          hydra: 'https://hydra.iohk.io'
          jobs: 'cardano-wallet-tests-win64'
      - name: 'Fetch Windows testing bundle'
        shell: powershell
        run: |
          $output = "cardano-wallet-tests-win64.zip"
          Invoke-WebRequest -Uri ${{ steps.hydra.outputs.buildProducts }} -OutFile $output
          Expand-Archive -LiteralPath $output -DestinationPath .
          Get-ChildItem
      - name: Save files
        uses: actions/upload-artifact@v2
        with:
          name: cardano-wallet-tests-win64
          path: "**/*"

  cardano-wallet-core-test-unit:
    name: 'cardano-wallet-core:unit'
    needs: setup
    runs-on: windows-2016
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: cardano-wallet-tests-win64
      - run: '.\\cardano-wallet-core-test-unit.exe --color --jobs 1 --skip /Cardano.Wallet.DB.Sqlite/ +RTS -M2G -N2'

  cardano-wallet-test-unit:
    name: 'cardano-wallet:unit'
    needs: setup
    runs-on: windows-2016
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: cardano-wallet-tests-win64
      - run: '.\\cardano-wallet-test-unit.exe --color'

  cardano-wallet-cli-test-unit:
    name: 'cardano-wallet-cli:unit'
    needs: setup
    runs-on: windows-2016
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: cardano-wallet-tests-win64
      - run: '.\\cardano-wallet-cli-test-unit.exe --color'

  text-class-test-unit:
    name: 'test-class:unit'
    needs: setup
    runs-on: windows-2016
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: cardano-wallet-tests-win64
      - run: '.\\text-class-test-unit.exe --color'

  cardano-wallet-launcher-test-unit:
    name: 'cardano-wallet-launcher:unit'
    needs: setup
    runs-on: windows-2016
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: cardano-wallet-tests-win64
      - run: '.\\cardano-wallet-launcher-test-unit.exe --color'
        continue-on-error: true

  cardano-wallet-test-integration:
    name: 'cardano-wallet:integration'
    needs: setup
    if: ${{ startsWith(github.ref, 'refs/heads/bors/') || startsWith(github.ref, 'refs/heads/release/v') }}
    runs-on: windows-2016
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: cardano-wallet-tests-win64
      - run: '.\\cardano-wallet-test-integration.exe --color'
        timeout-minutes: 60

  finish:
    name: Finish
    runs-on: windows-2016
    if: always()
    outputs:
      result: '${{ steps.check.outputs.result }}'
    needs:
      - cardano-wallet-core-test-unit
      - cardano-wallet-test-unit
      - cardano-wallet-cli-test-unit
      - text-class-test-unit
      - cardano-wallet-launcher-test-unit
      - cardano-wallet-test-integration
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: "Advance windows-tests-pass and all-tests-pass branches"
        id: check
        if: github.ref == 'ref/heads/master'
        shell: bash
        run: |
          bash .buildkite/push-branch.sh windows-tests-pass linux-tests-pass all-tests-pass
          echo "::set-output name=result::blah blah"

  notify:
    name: Notify slack channel
    runs-on: ubuntu-latest
    if: always()
    needs: finish
    env:
      RESULT_FILE: 'previous-result.txt'
    steps:
      - name: Get previous result for ref
        uses: actions/cache@v2
        with:
          path: ${{ env.RESULT_FILE }}
          key: ${{ env.GITHUB_WORKFLOW }}-${{ github.ref }}
      - name: Check previous result
        id: previous
        env:
          result: ${{ job.status }}
        run: |
          prev_result=$(cat $RESULT_FILE || true)
          echo "result=$result"
          echo "prev_result=$prev_result"
          if [ "$result" != "$prev_result" ]; then
            echo "::set-output name=do_notify::yes"
          fi
          echo "$result" > $RESULT_FILE
      - uses: act10ns/slack@v1
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
          # channel: '#adrestia-secret-fort'
          channel: '@rvl'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        # Only notify when state changes between failure/success for
        # interesting branches/tags.
        if: ${{ steps.previous.do_notify && (github.ref == 'refs/heads/master' || github.ref == 'refs/tags/v' || github.ref == 'refs/heads/rvl/adp-753/ci-notify') }}
